#Personal Configuration
*.vs
.vs/*
2018Summer/.vs/*
2018Summer/°®¶÷Ë¹Ì¹Æå/Debug/*
2018Summer/°®¶÷Ë¹Ì¹Æå/°®¶÷Ë¹Ì¹Æå/Debug/*
*.sln
*.vcxproj
*.filters

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
